@media all and (max-width:900px){
    .main-header .el-menu-demo {
        display: none;
    }
    .main-header .el-dropdown{
        display: block;
        float: right;
    }
    .main-header .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .main-header .el-icon-arrow-down {
        font-size: 12px;
    }
    .main-header .el-dropdown-menu__item{
        padding: 0 !important;
    }

    .small-page{
        display: block;
    }
    .big-page{
        display: none;
    }

    .loading{
        width: 40%;
        
    }
    .load-image{
        background-size: 220px 30px;
    }
    .replies-praise{
        display: none;
    }
    .last_time{
        display: none !important;
    }
    .load-image{
        height: 130px !important;
        background-size: 627px 130px !important;
    }
    .score{
        display: none;
    }
}
@media all and (max-width:600px){
    .usermsg{
        display: none !important;
    }
}
@media all and (min-width:900px){
    .main-header .el-menu-demo {
        display: block;
    }
    .main-header .el-dropdown{
        display: none;
    }
    .small-page{
        display: none;
    }
    
}
@media all and (max-width:1300px){
    .last_time img{
        display: none;
    }
}

@media all and (max-width:1000px){
    .home .el-col-3{
        float: none !important;
        width: 100%;
        height: 50px;
    }
    .home .el-col-21{
        float: none;
        width: 100%;
    }
    .el-menu{
        border-bottom: 1px solid #eee;
    }
    .el-menu .el-menu-item{
        float: left;
        width: 16.6%;
        text-align: center;
    }
    .is-active{
        border-right: none !important;
        border-bottom: 3px solid #ffd04b;
    }

    .home-content .topic .topic_list{
        height: 70px;

    }
    .user_avatar,
    .put_top,
    .topic_title,
    .reply_count{
        position: absolute;
    }
    .topic_title_wrapper .user_avatar{
        top: 7px;
        left: 0;
        width: 40px !important;
        height: 40px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .recent .topic_title_wrapper .user_avatar{
        line-height: 28px !important;
    }
    .topic_title_wrapper .put_top{
        top: 25%;
        left: 55px;
    }
    .topic_title_wrapper .topic_title{
        height: 30px !important;
        top: 0;
        left: 100px;
    }
    .recent .topic_title_wrapper .topic_title{
        left: 50px;
    }
    .topic_title_wrapper .reply_count{
        height:20px !important;
        left: 100px;
        transform: translateY(40px);
        line-height: 20px !important;
        text-align: left !important;
    }
    .el-pagination{
        display: none;
    }
    .el-pagination--small{
        display: block;
    }
    
}